html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* navbar bug */
.navbar-collapse.collapse.in {
  display: block !important;
}
.navbar-inner {
  background: transparent;
}
/* navbar bug */

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("backgroungB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* z-index: 1000; */
}

.navbar-brand {
  margin: 7px;
}

.nav-links {
  font-size: 2rem;
}

.work {
  position: absolute;
  text-align: center;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -42%);
  color: rgb(241, 223, 223);
  font-size: 60px;
  letter-spacing: 15px;
  /* font-family: "PRODUCTSANS-LIGHT",'Poppins'; */
  font-family: "Montserrat", sans-serif;
}

.btn-outline-secondary {
  border-color: white !important;
  color: white !important;
  border-radius: 25px !important;
}
.btn-outline-secondary:hover {
  background-color: transparent !important;
  /* box-shadow: none !important; */
}

#speaker {
  position: absolute;
  top: 289%;
  width: 100%;
  /* height: 100%; */

  color: red;
  background-color: rgb(11, 11, 11);
}
/* .contact-us {
  position: absolute;
  top: 300%;
  width: 100%;
  height: 100vh;
  color: red;
  background-color: rgb(11, 11, 11);
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp {
  margin: 30px;
  margin-bottom: 15px;
  transition: all 1s;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 6px solid #fff;
  /* padding: 0px; */
}
.sp:hover {
  transform: scale(1.1);
}
.description {
  text-align: center;
  font-size: 20px;
  font-style: "Montserrat";
  color: rgb(161, 151, 151);
}

.our {
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.our span {
  /* color: white; */
}

/* .navbar-nav > li > .dropdown-menu { background-color: #FF0000; } */

.about {
  text-align: center;
  padding: 15px;
  position: absolute;
  top: 100%;
  width: 100%;
  /* height: ; */
  background-color: rgb(2, 2, 2);
  color: white;
}
.brand {
  color: #e62b1e;
}
.left-div h1 {
  font-size: 30px;
}
.right-div h1 {
  font-size: 30px;
}
.left-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 30px;
  margin: 15px;
  vertical-align: top;
  font-size: 10px !important;
}
.right-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 30px;
  margin: 15px;
}
@media screen and (max-width: 500px) {
  .left-div,
  .right-div {
    max-width: 100%;
  }
  #speaker {
    position: absolute;
    top: 420%;
  }
  .navbar-nav li {
    background-color: #0a0a0a !important;
    z-index: 1000;
    opacity: 0.95;
  }
  .nav-item{
    /* align-items: center; */
    /* position: absolute; */
    /* left: 4px; */
    text-align: justify;
    padding-left: 7px;
  }
}
