html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

@font-face {
  font-family: "PRODUCTSANS-LIGHT";
  src: URL("PRODUCTSANS-LIGHT.ttf") format("truetype");
}
/* navbar bug */
.navbar-collapse.collapse.in {
  display: block !important;
}
.navbar-inner {
  background: transparent;
}
/* navbar bug */

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("backgroungB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar-brand {
  margin: 7px;
}

.nav-links {
  font-size: 2rem;
}

.work {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(241, 223, 223);
  font-size: 60px;
  letter-spacing: 15px;
  /* font-family: "PRODUCTSANS-LIGHT",'Poppins'; */
  font-family: "Montserrat", sans-serif;
}

.btn-outline-secondary {
  border-color: white !important;
  color: white !important;
  border-radius: 25px !important;
}
.btn-outline-secondary:hover {
  background-color: transparent !important;
  /* box-shadow: none !important; */
}

#about {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 100%;
  height: 100vh;
  color: red;
  background-color: rgb(11, 11, 11);
}
#speaker {
  position: absolute;
  top: 200%;
  width: 100%;
  /* height: 100vh; */
  color: red;
  background-color: rgb(11, 11, 11);
}
.contact-us {
  position: absolute;
  top: 300%;
  width: 100%;
  height: 100vh;
  color: red;
  background-color: rgb(11, 11, 11);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp {
  margin: 30px;
  transition: all 1s;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 6px solid #fff;
  /* padding: 0px; */
}
.sp:hover {
  transform: scale(1.1);
}
.description{
  text-align: center;
  font-size: 20px;
  color: white;
}

.our{
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.our span{
  /* color: white; */
}
